<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.tap.checkout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:windowSoftInputMode="stateHidden|adjustResize" />

    <application>
        tools:replace="android:allowBackup
        <activity android:name=".open.CheckOutActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:supportsRtl="true"
            android:anyDensity = "false"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Enabling this flag is required in order to use the PaymentsClient -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>